#navbarWeb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;

    max-height: 100px;

    overflow-x: hidden;
}

.navbarWebContent a {
    float: right;
    
    height: 100%;
}

.navbarWebContent img {
    float: left;
    object-fit: contain;
}

.navbarWebContent a {
    display: block;
    color: var(--KeyBlack);
    text-align: center;
    padding: 41px 2%;
    text-decoration: none;

    font-family: sans-serif;
    font-weight: 400;
}

.navbarWebContent a:hover {
    background-color: var(--CustomGreyLight);
}

#navbarMobile {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;

    max-height: 100px;

    overflow-x: hidden;
}

.navbarMobileContent a {
    float: right;

    height: 100%;
}

.navbarMobileContent img {
    float: left;
    object-fit: contain;
}

.navbarMobileContent a {
    display: block;
    color: var(--KeyBlack);
    text-align: center;
    text-decoration: none;

    padding: 36px 3%;

    margin-right: calc(60.5px - 3%); /* make some px value /// 363 x 600 */

    font-family: sans-serif;
    font-weight: 400;
}

.navbarMobileContent a:hover {
    background-color: var(--CustomGreyLight);

    cursor: pointer;
}

#mobileDropdown {
    display: none;
    
    height: 100vh;
    width: 100vw;
}

#aboutDropdown {
    display: none;
    height: 100vh;
    width: 100vw;
}

#navbarMobileDropdown {
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    background-color: #ffffff;
    padding-left: 0;
}

.navbarMobileDropdownContent a {
    display: block;
    color: var(--KeyBlack);
    text-align: center;
    text-decoration: none;

    padding: 36px 5%;

    font-family: sans-serif;
    font-weight: 400;
}

.navbarMobileDropdownContent a:hover {
    background-color: var(--CustomGreyLight);

    cursor: pointer;
}

@media screen and (min-width: 850px) and (min-height: 380px) { /* w:1100px h:380px */
    #navbarWeb {
        display: block;
    }

    #navbarMobile {
        display: none;
    }
}

@media (max-width: 849px) or (max-height: 379px) { /* w:1099px h:379px */
    #navbarWeb {
        display: none;
    }

    #navbarMobile {
        display: block;
    }
}